<div class="starter-template">
        <h1>Join to Tell the World your Opinion</h1>
        <p class="lead">This app was originally developed based on the request of ANDL Team</p>
      </div>

      <div class="col-md-8 col-md-offset-4">
        <a class="btn btn-primary btn-lg" href="/signup">Signup</a>
        <a class="btn btn-primary btn-lg" href="/login">Login</a>
      </div>
